<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		    <title>Onur Zengin – Kontakt</title>
	</head>
	<body class="relative min-h-screen bg-[#0B0B0F] text-white flex items-center justify-center p-6 overflow-hidden">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	body{
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
